<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Egoisty</title>
</head>
<body>

    <div class="header">
        <div class="logo">
            <img src="../../static/media/sticker.webp" width="50" height="50" alt="Logo">
        </div>
        <div class="nav">
            <ul class="list">
                <li><a style="color: #6B7280" href="../../main/welcome/main.html">Home</a></li>
                <li><a style="color: #6B7280" href="../../main/catalog/catalog.html">Catalog</a></li>
                <li><a style="color: #6B7280" href="../../main/FAQ/FAQ.html">FAQ</a></li>
                <li><a style="color: #6B7280" href="../../authentication/login/login.html">Sign in</a></li>
                <li><a style="color: #6B7280" href="../../authentication/register/register.html">Sign up</a></li>
            </ul>
        </div>

    </div>
    
    <footer class="footer">
        Yerkebulan Zhan, Danial Seit, Tassimov Arsen, Uzbekbay Abilkaiyr
    </footer>
</body>
</html>