html.dark-theme #cartContainer {
  background-color: #1e1e1e !important;
  color: #f1f1f1 !important;
}

html.dark-theme #orderSummary {
  background-color: #1e1e1e !important;
  color: #f1f1f1 !important;
}

html.dark-theme .footer {
  background-color: #1e1e1e !important;
  color: #f1f1f1 !important;
}